
#info{
    padding: 32px;
    margin: 32px;
    backdrop-filter: blur(7px);
    border-radius: 32px;
    background-color: rgba(11, 12, 19, 0.67);
    text-align: center;
}
#info ion-icon{
    font-size: 32px;
}
#info h4{
    margin-top: 8px;
}