<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Lector QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <section class="contenedor">
    <section class="centrarVertical" qr>
      <div id="lector">
        <img src="../../../assets/svg/lector.svg" alt="">
      </div>
      <div id="info">
        <ion-icon name="information-circle-outline"></ion-icon>
        <h4>Enfoca el código QR proyectado por el docente.</h4>
      </div>
    </section>
  </section>
</ion-content>
