<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Asignaturas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <section class="contenedor">
    <header>
      <div id="bienvenida">
        <h1>{{asignaturaCargada?.asignatura}}</h1>
      </div>
      <div id="hook"></div>
    </header>
    <section id="contenido">
      <div class="grupo">
        <h4>Profesor</h4>
        <h3>{{asignaturaCargada?.ultimoDocente}}</h3>
      </div>
    </section>
  </section>

</ion-content>
