<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login AAAAAAAA</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <section class="centrarVertical">
    <div class="formPadding" style="padding-top: 16px;padding-bottom: 16px;">
      <img src="../../../assets/svg/Logo_DuocUC.svg" alt="">
    </div>
    <div id="switch">
      <div active>Login</div>
      <div routerLink="/registro">Registro</div>
    </div>
    <section class="formPadding">
      <div class="grupoControl">
        <ion-input [(ngModel)]="email" label="Email" label-placement="stacked" fill="outline" placeholder="Introduce tu correo"></ion-input>
      </div>
      <div class="grupoControl">
        <ion-input [(ngModel)]="contrasena" label="Contraseña" label-placement="stacked"  fill="outline" placeholder="Introduce tu contraseña" type="password"></ion-input>
      </div>
      <div class="grupoControl tar">
        <ion-button shape="round" color="light" (click)="onEnviarFormulario()">Iniciar Sesión</ion-button>
      </div>
    </section>
  </section>
</ion-content>
