header{
    width: 100%;
    min-height: 160px;
    background: rgb(0,0,0);
    background: rgb(18,29,40);
    background: -moz-linear-gradient(158deg, rgba(18,29,40,1) 0%, rgba(0,0,0,1) 69%);
    background: -webkit-linear-gradient(158deg, rgba(18,29,40,1) 0%, rgba(0,0,0,1) 69%);
    background: linear-gradient(158deg, rgba(18,29,40,1) 0%, rgba(0,0,0,1) 69%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#121d28",endColorstr="#000000",GradientType=1); 
    // border-radius: 0 0 32px 32px;
    position: relative;
}
header main{
    z-index: 999;
    position: absolute;
    background-color: #282a31;
    height: 142px;
    bottom: calc(-142px / 2) + 48px;
    border-radius: 16px;
    // left: calc(50vw - (120px / 2)); 
    right: 32px;
    width: 120px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.19);
    text-align: center;
    cursor: pointer;
}
header main ion-icon{
    height: 64px !important;
    width: 64px !important;
    margin-top: calc(120px - 64px - 36px);
}
header main h6{
    margin: 0;
    letter-spacing: 1px;
}
header h2, h4{
    margin: 0;
}
header h1{
    font-weight: light !important;
}
#hook{
    min-height: 64px;
    padding-bottom: 64px;
}
#hook::after{
    content: "";
    position: absolute;
    height: 32px;
    background-color: #131417;
    left: 0; right: 0;
    bottom: 0;
    border-radius: 32px 32px 0 0;
}
#bienvenida{
    padding: 64px 32px 44px 32px;
}
#ultima{
    padding: 0 32px;
    max-width: calc(100vw - 120px - 32px);
    color: #7d8399;
}
#ultima h6, h3{
    text-overflow: ellipsis;
    word-wrap: unset;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
}
#bienvenida h4{
    font-size: 20px;
    margin: 0px;
    padding: 0px;
    color: #84a8ff;
}
#bienvenida h1{
    margin: 0px;
    font-size: 42px;
}
#contenido{
    padding: 0 32px;
}
#contenido h4{
    font-weight: 500 !important;
    color: #7d8399;
}
ion-card{
    position: relative;
    background-color: black;
    // background: rgb(16,16,16);
    // background: -moz-linear-gradient(158deg, rgba(16,16,16,1) 17%, rgba(0,0,0,1) 100%);
    // background: -webkit-linear-gradient(158deg, rgba(16,16,16,1) 17%, rgba(0,0,0,1) 100%);
    // background: linear-gradient(158deg, rgba(16,16,16,1) 17%, rgba(0,0,0,1) 100%);
    // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#101010",endColorstr="#000000",GradientType=1); 
    margin: 0 !important;
    margin-top: 16px !important;
    border-radius: 24px;
}
ion-card-title ion-icon{
    vertical-align: top;
    margin-right: 16px;
}
#logout{
    position: absolute;
    top: 32px;
    right: 32px;
}
#logout ion-icon {
    font-size: 32px !important;
    color: #7d8399;
}
